.body_box {
    min-width: 1140px;
    margin: 0 auto;
}
/* start slider --------------------------------------------------------------------------*/
.slider_box{
    margin: 0px auto;
    min-width: 1140px;
    max-width: 1900px;
}
.photo{
    float: left;
}
.text_galleri {
    height: 45px;
    float: left;
    font-family: "Attentica 4F";
    font-size: 50px;
    color: #fff;
    padding-top: 5px;
    margin: 0 25px;

}
ul{
    list-style: none outside none;
}

.demo .item{
    margin-bottom: 1px;
}
.content-slider li{
    text-align: center;
    color: #FFF;
    height: 230px;
    margin-right: 15px;
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
.demo{
    margin: 0 auto;
    min-width: 1140px;
    max-width: 1920px;
    max-height:765px;

}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}
.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.lSAction > .lSPrev {
    background-image: url("../images/sprev.png");
    z-index: 100;
}
.lSAction > .lSNext {
    background-image: url("../images/snext.png");
    z-index:100;
}
.galleri_button{
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: -35px auto;
    border: 2px solid #fff;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans";
}
.galleri_button:hover {
    background-color: #fff;
}
.galleri_text_decoration:hover {
    background-color: #fff;
    color: red;
    text-decoration: none;
}
.galleri_text_decoration{
    text-decoration: none;
    background-color: #e82928;
    color:#fff;
}
.cs-hidden li{
    height: 100%;
}
.slider_images{
    margin: 0 auto;
    height: 765px;
    min-width: 1140px;
    max-width: 1920px;
}
/* end slider --------------------------------------------------------------------------*/
/* start content -----------------------------------------------------------------------*/
.content_box{
    display: block;
    margin: 0 auto;
    min-width: 1140px;
    background: #ebebeb;
}
.content_case{
    margin: 0px auto;
    width: 1140px;
    height: 450px;
    display: block;
}
.content_text_box{
    float: left;
    width: 700px;
    display: block;
}
.content_img_box{
    float: left;
    width: 340px;
    margin-left: 50px;
    display: block;
}
.header{
    font-size: 36px;
    font-family: "Cambria Bold";
    color: #333333;
    width: 100%;
    margin-top: 70px;
}
.header h3{
    margin: 0;
}
.header_text{
    margin-top: 25px;
    font-size: 18px;
    width: 100%;
    color: #333333;
    font-family: "Cambria Bold";
}
/* button block ----------------------------------------------------------------------*/
.button_box{
    width: 100%;
    margin-top: 30px;
    height: 55px;
}
.button{
    font-family: "Cambria Math";
    font-size: 18px;
    padding: 15px 35px;
    float: right;
    background: #2e3192;
    color: white;
    text-decoration: none;
    transition: 0.5s;

}
.button:hover{
    transition:0.5s;
    background: #ed1b24;
}
/* end button block ----------------------------------------------------------------------*/
/* img ------------------------------------------------------------------------------------*/
.img_case{
    display: block;
    margin-top: 30px;
    margin-left: 80px;
    max-width: 340px;
    max-height: 380px;
}

/* end img ------------------------------------------------------------------------------------*/
/*content_2 *--------------------------------------------------------------------------------*/
.content_box:nth-child(even){
    margin: 0 auto;
    min-width: 1140px;
    max-width: 1920px;
    background: url("../images/background_two_content.png") no-repeat;
}
/* end content_2 ----------------------------------------------------------------------*/
/* content_3 --------------------------------------------------------------------------*/
.content_box:nth-child(add) .content_text_box{
    float: left;
    width: 580px;
}
.content_box:nth-child(add) .content_img_box{
    float: left;
    width: 560px;
}
.content_box:nth-child(add) .img_case{
    margin-top: 100px;

}
.content_box:nth-child(even) .img_case{
    margin-top: 40px;
    margin-left: 90px;
    width: 100%;
    height: 100%;
}
/* end content_3 --------------------------------------------------------------------------*/
/* end content -------------------------------------------------------------------------*/
