body, main{
    height: 100%;
    width: 100%;
}
#sloo{
    display: none;
}
#autoWidth {
    height: 100% !important;
}
/* breadcrumbs --------------------------------------------------------------------------------------*/
.forums{
    width: 100%;
    height: 55px;
    background: #e2e1e1;
    display: block;
}
.forums_case{
    margin: 0 auto;
    height: 100%;
    width: 1140px;
    list-style-type: none;
    display: block;
}
.breadcrumb {
    margin: 0;
}
.breadcrumb a{
    text-decoration: none;
    color: #acacac ;
    font-size: 12px;
    text-transform: uppercase;
}
.breadcrumb li{
    line-height: 50px;
    margin: 0 0 0 5px;
    float: left;
    display: inline-block;
}
.active{
    text-transform: uppercase;
    font-size: 12px;
}
/* end breadcrumbs ----------------------------------------------------------------------------------*/
.case_product{
    height: 130px;
    width: 100%;
    background: #ececec;
}
.box_product{
    height: 100%;
    width: 1140px;
    margin: 0 auto;
}
.forums_box{
    width: 220px;
    height: 100%;
    display: inline-block;
    float: left;
    cursor: pointer;
}
.sprite_box{
    width: 100%;
    height: 75px;
    display: block;
}
.sprite_text{
    height: 55px;
    width: 100%;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    font-family: "Cambria Bold";
    font-size: 14px;
}
.sprite{
    margin: 0 auto;
    vertical-align: top;
    display: block;
    background: url("../images/categories.png") no-repeat;
}
.sprite_1{
    margin: 20px 0 0 85px;
    display: inline-block;
    background-position: -2px -2px;
    height: 31px;
    width: 37px;
}
.forums_box:hover .sprite_text{
    color: #ed1b24;
}
.forums_box:hover .sprite_1{
    background-position: -43px -2px;
}
.sprite_2{
    margin: 20px 0 0 85px;
    display: inline-block;
    background-position: -83px -2px;
    height: 34px;
    width: 41px;
}
.forums_box:hover .sprite_2{
    background-position: -127px -2px;
}
.sprite_3{
    margin: 20px 0 0 85px;
    display: inline-block;
    background-position: -169px -2px;
    height: 53px;
    width: 47px;
}
.forums_box:hover .sprite_3{
    background-position: -220px -2px;
}
.sprite_4{
    margin: 20px 0 0 85px;
    display: inline-block;
    background-position: -269px -2px;
    height: 49px;
    width: 41px;
}
.forums_box:hover .sprite_4{
    background-position: -315px -2px;
}
.sprite_5{
    margin: 20px 0 0 85px;
    display: inline-block;
    background-position: -360px -2px;
    height: 49px;
    width: 49px;
}
.forums_box:hover .sprite_5{
    background-position: -413px -2px;
}

/* end case_product ------------------------------------------------------------------*/
/* обратная связь -----------------------------------------------------------------------*/
/* устанавливаем слой затемнения фона,
  ** опрделяем позиции, цвет и интенсивность затемнения  */
.black-overlay{
    transition-timing-function: linear;
    transition-duration: 0.5s;
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
/* устанавливаем рисунок основы,
  ** опрделяем размеры и положение на экране  */
.envelope {
    display: none;
    position: absolute;
    width: 600px;
    height: 340px;
    background: url('../images/envelope.png') center no-repeat;
    z-index:1002;
    position: relative;
    margin: 0 auto;
    margin-left: -150%;

}
/* формируем кнопку закрытия,
  ** размеры, положение на форме  */
.close-btn {
    width: 31px;
    height: 31px;
    display: block;
    cursor: pointer;/* для случая применения отличных от <a> тегов */
    background: url('../images/close.png');
    text-indent: -4999px;
}
/* кнопка закрытия при наведении */
.close-btn:hover{
    background: url('../images/close-hover.png');

}
/* оформляем заголовок формы */
.title {
    font-family: "Trebuchet MS",Tahoma,Arial,sans-serif;
    font-size:22px;
    font-weight: normal;
    font-weight: 200;
    text-align:left;
    position: absolute;
    top: 30px;
    left: 40px;
    /* можно заменить на другую картинку
       ** или border-bottom: бла бла бла */
    background: url('../images/divider.png') no-repeat bottom;
    color: #545151;
    height: 40px;
    width: 400px;
    margin: 15px 0;
    text-shadow: 1px 1px #FFF;/* тень текста */
}
/* стили для полей ввода */
input[type=text] {
    font-family: "Trebuchet MS",Tahoma,Arial,sans-serif;
    font-size: 13px;
    background-color:rgb(255,255,255);
    color: #787474;
    padding-left: 10px;
    width:208px;
    height:33px;
    border-color:rgb(182,182,182);
    border-width:1px;
    border-style:solid;
    -moz-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
    border-radius: 3px;
    -moz-border-radius: 3px;
}
/* меняем оформление полей ввода при фокусе */
input[type=text]:focus, .your-message:focus {
    outline: none;
    background-color:rgb(255,255,255);
    border-color:rgb(126,139,153);
    border: 1px solid;
    -moz-box-shadow:0px 0px 5px 0px rgba(168,178,188,0.75) ,0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow:0px 0px 5px 0px rgba(168,178,188,0.75) ,0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow:0px 0px 5px 0px rgba(168,178,188,0.75) ,0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.4);
    -ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color=#bfa8b2bc,Strength=5)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.Glow(Color=#bfa8b2bc,Strength=5)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
}
.your-message {
    font-family: "Trebuchet MS",Tahoma,Arial,sans-serif;
    font-size: 13px;
    background-color:rgb(255,255,255);
    color: #787474;
    padding: 10px 0 0 10px;
    width:448px;
    height:93px;
    border-color:rgb(182,182,182);
    border-width:1px;
    border-style:solid;
    -moz-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
    position: absolute;
    top: 150px;
    left: 40px;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.your-name {
    position: absolute;
    top: 100px;
    left: 40px;
}

.email-address {
    position: absolute;
    top: 100px;
    left: 280px;
}
/* оформляем кнопку отправки */
.send-message {
    background-color: #929FAB;
    background-image:-moz-linear-gradient(49% 0% -90deg,rgb(171,181,191) 0%,rgb(124,138,152) 100%);
    background-image:-webkit-gradient(linear,49% 0%,49% 109%,color-stop(0, rgb(171,181,191)),color-stop(1, rgb(124,138,152)));
    background-image:-webkit-linear-gradient(-90deg,rgb(171,181,191) 0%,rgb(124,138,152) 100%);
    background-image:-o-linear-gradient(-90deg,rgb(171,181,191) 0%,rgb(124,138,152) 100%);
    background-image:-ms-linear-gradient(-90deg,rgb(171,181,191) 0%,rgb(124,138,152) 100%);
    background-image:linear-gradient(-90deg,rgb(171,181,191) 0%,rgb(124,138,152) 100%);
    width:130px;
    height:35px;
    -moz-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 3px rgb(97,108,122);
    -webkit-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 3px rgb(97,108,122);
    box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 3px rgb(97,108,122);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffabb5bf,endColorstr=#ff7c8a98,GradientType=0)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffabb5bf,endColorstr=#ff7c8a98,GradientType=0)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
    color: #fff;
    font-family: "Trebuchet MS",Tahoma,Arial,sans-serif;
    font-size: 13px;
    text-shadow: 0 1px 0 #21405D;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    position: absolute;
    top: 269px;
    right: 100px;
}
/* оформляем кнопку отправки при наведении */
.send-message:hover{
    background-color: #A0ACB9;
    background-image:-moz-linear-gradient(49% 0% -90deg,rgb(170,181,195) 0%,rgb(144,157,169) 100%);
    background-image:-webkit-gradient(linear,49% 0%,49% 109%,color-stop(0, rgb(170,181,195)),color-stop(1, rgb(144,157,169)));
    background-image:-webkit-linear-gradient(-90deg,rgb(170,181,195) 0%,rgb(144,157,169) 100%);
    background-image:-o-linear-gradient(-90deg,rgb(170,181,195) 0%,rgb(144,157,169) 100%);
    background-image:-ms-linear-gradient(-90deg,rgb(170,181,195) 0%,rgb(144,157,169) 100%);
    background-image:linear-gradient(-90deg,rgb(170,181,195) 0%,rgb(144,157,169) 100%);
    width:130px;
    height:35px;
    -moz-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 3px rgb(97,108,122);
    -webkit-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 3px rgb(97,108,122);
    box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 3px rgb(97,108,122);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffaab5c3,endColorstr=#ff909da9,GradientType=0)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffaab5c3,endColorstr=#ff909da9,GradientType=0)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
}
/* оформляем кнопку отправки в режиме активной */
.send-message:active{
    background-image:-moz-linear-gradient(49% 0% -90deg,rgb(142,154,167) 0%,rgb(124,138,152) 100%);
    background-image:-webkit-gradient(linear,49% 0%,49% 109%,color-stop(0, rgb(142,154,167)),color-stop(1, rgb(124,138,152)));
    background-image:-webkit-linear-gradient(-90deg,rgb(142,154,167) 0%,rgb(124,138,152) 100%);
    background-image:-o-linear-gradient(-90deg,rgb(142,154,167) 0%,rgb(124,138,152) 100%);
    background-image:-ms-linear-gradient(-90deg,rgb(142,154,167) 0%,rgb(124,138,152) 100%);
    background-image:linear-gradient(-90deg,rgb(142,154,167) 0%,rgb(124,138,152) 100%);
    width:130px;
    height:35px;
    -moz-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 5px rgb(65,73,85);
    -webkit-box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 5px rgb(65,73,85);
    box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 5px rgb(65,73,85);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8e9aa7,endColorstr=#ff7c8a98,GradientType=0)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8e9aa7,endColorstr=#ff7c8a98,GradientType=0)
            progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true);
}
/* закончена обратная связь -------------------------------------------------------------*/
/*start logo -------------------------------------------------------------------------*/
.hidden{
    height: 145px;
    width: 100%;
    background: #f5f5f5;
}
.logo_and_contact_box{
    max-width: 1140px;
    height: 145px;
    margin: 0 auto;
}
.logo_photo{
    display: inline-block;
    float: left;
    width:500px;
    height: 145px;
}
.logo_photo img {
    padding-top: 35px;;
    display: block;
}
/*end logo     ----------------------------------------------------------------------------*/

/* start phone ----------------------------------------------------------------------------*/
.phone_box{
    width: 155px;
    height: 145px;
    float:left;
}

.phone_img{
    margin: 0px;
    float: left;
    display: inline-block;
    width: 20px;
    padding: 35px 0 0 0;
    list-style-type: none;
}
.phone_img img{
    padding: 0px;
}
.phone_number{
    margin-top: 35px;
    color: #404040;
    width: 130px;
    float: left;
    display: inline;
    padding: 0;
    font-family: "Cambria Math";
    font-size: 18px;
    list-style-type: none;
}
.call{

}
.fa-mobile-phone{
    margin-bottom: 5px;
}

input[type=email] {
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    color: #787474;
    padding-left: 10px;
    width: 208px;
    height: 33px;
    border-color: rgb(182, 182, 182);
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80ffffff,Positive = true)";
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#80ffffff, Positive=true);
    border-radius: 3px;
    -moz-border-radius: 3px;
}
/* end phone ----------------------------------------------------------------------------*/

/* start gps ----------------------------------------------------------------------------*/
.gps_box{
    width: 250px;
    height: 105px;
    padding-top:40px;
    float:left;
    padding-left: 120px;

}
.gps_maps_img{
    list-style-type: none;
    width: 250px;
    height: 20px;
    display: block;
    padding:0;
    margin: 0px 0 10px 0;
}
.gps_maps_img img{
    padding:0;
}
.gps_img{
    float: left;
    width: 20px;
    height: auto;
}
.gps_maps{
    float: left;
    width:210px;
    height: auto;
    padding-left: 10px;
    font-size: 14px;
    color: #404040;
    font-family: "Cambria Math";
}
/* email ------------------------------------------------------------------------------------*/
.case_email_img{
    padding: 0px;
    width: 250px;
    height: auto;
    list-style-type: none;
    margin: 0 ;
}
.case_email_img img{
    padding: 0px 4px 0 0;
}
.email{
    margin-bottom: 10px;
    font-family: "Cambria Regular";
    font-size: 16px;
    float: left;
    color: #3399ff;
    text-decoration:underline;
}
.case_email{
    margin: 0px;
    padding-left: 30px;
    list-style-type: none;
}
/*end gps-----------------------------------------------------------------------------------*/
/* start menu ------------------------------------------------------------------------------*/
.menu_box{
    margin: 0;
    height: 50px;
    width: 100%;
    background: #333333;
}
.menu_case{
    width: 1140px;
    height: 50px;
    margin: 0 auto;
}
.case_list{
    padding: 0px;
    margin: 0px;
    height: 50px;
}
.list{
    font-family: "Cambria Regular";
    font-size: 16px;
    font-weight: 500;
    padding: 0 35px;
    line-height: 50px;
    list-style-type: none;
    display: inline-block;
    float: left;
    color: #fff;
    background: #333333;
    cursor: pointer;
    transition: 0.5s;
}
.list:hover{
    transition: 0.5s;
    background: #ed1b24;
}
/* end menu ------------------------------------------------------------------------------*/
/* footer -------------------------------------------------------------------------------*/
.footer{
    height: 85px;
    width: 100%;
}
.footer_box{
    margin: 0 auto;
    height: 85px;
    width: 1140px;
    font-size: 14px;
    font-family: "Open Sans Light";
}
.footer_text{
    float: left;
    margin-top: 30px;
    width: 950px;
}
.author{
    float: left;
    margin-top: 20px;
    width: 190px;
}
.author p{
    float: left;
}
.author a{
    margin-top: 10px;
    float: left;
}
.body_box{
    height:100%;
    min-width: 1140px;
}
/* social network-------------------------------------------------------------------------- */
.social_network{
    z-index: 999;
    position: fixed;
    top: 30%;
    left: 0%;
    transition: 0.5s;
}
.social{
    width: 100%;
    height: 50px;
    transition: 0.3s;
    margin-left: -60px;
}
.social:hover{
    transition: 0.5s;
    margin-left: -40px;
}
.social img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
/* end social network -------------------------------------------------------------------------- */
/* back top-------------------------------------------------------------------------------*/

#back-top {
    position: fixed;
    bottom: 30px;
    float: right;
    right: 0%;
    z-index: 999;
}

#back-top a {
    width: 108px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;

    /* замедление */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
}

/* изображение со стрелкой (тег span) */
#back-top span {
    width: 70px;
    padding: 20px 5px;
    text-align: center;
    display: block;
    margin-bottom: 7px;
    font-weight: 700;
    line-height: 20px;
    background: #ddd  no-repeat center center;

    /* закругленные углы */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    /* замедление */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover span {
    background-color: #777;
}

/* end back top-------------------------------------------------------------------------------*/
