.background_address{
    height: 100%;
    min-width: 1140px;
    font-size: 24px;
    list-style-type: none;
}
.case{
    height: 100%;
    min-width: 1140px;
    max-width: 1920px;
    background: #cfedc4;
}
.case_maps{
    float: left;
    width: 500px;
    height: 500px;
    padding: 30px;
    display: inline-block;
    border-right: 0px solid #FFFFFF;
}
.case_maps:nth-child(even){
    width: 500px;
    float: left;
    display: inline-block;
    height: 100%;
    border-right: 0px solid #FFFFFF;
}
#map {
    height: 100%;
}
#floating-panel {
    background-color: #fff;
    padding: 5px;
    border: 1px dotted #616161;
    background: #A9E8A7;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#address{
    width: 350px;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
hr{
    margin: 0;
}
#submit{
   display: block;
   background: #BEFF73;
   border: 1px dotted #616161;
}
#floating-panel input{
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
