.email_box{
    min-width: 900px;
}
.email{
    padding: 20px;
    margin: 0 auto;
    list-style-type: none;
    display: block;
    width: 250px;
    line-height: 40px;
    border: 1px solid #929FAB;
}
