.row{
    margin: 40px auto 0px;
   width: 100%;
    height: 100%;
    list-style-type: none;
}
.col-md-4{
    display: block;
    margin: 0 auto;
   width: 100%;
    height: 100%;
}
.not_viewes{
    list-style-type: none;
    padding: 25px;
}

.not_viewe {
    float: left;
    display: block;
    padding-right: 40px;
    text-overflow:ellipsis;
}
.clip {
    width: 60%;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
.panel-heading{
    text-align: center;
    word-spacing: 5px;
}

.fa-trash-o{
    cursor: pointer;
    float: right;
    right: 50px;
}
.messag{
    width: 90%;
}
.case_messages{
    padding: 40px;
    margin: 0 auto;
    min-width: 1140px;
    list-style-type: none;
}
.box_color{
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid #616161;
    border-radius: 4px;
}
.case_color{
    display: block;
    background: #616161;
    width: 100%;
    height: 30px;
}
.box_messages{
    padding: 20px;
    display: block;
    height: 100%;
    width: 100%;
}
.box{
    padding: 20px;
    display: block;
    height: 100%;
    width: 100%;
}
hr{
    border: 2px solid #ccc;
    border-right: 0;
    border-left: 0;
    border-top: 0;
}