/*..[OO]   */
/*./[..]\  */
/*../.\    */

.box_form{
    display: inline-block;
    min-width: 1140px;
    height: 100%;
}
.number_box{
    margin: 12% 23%;
    display: inline-block;
    border: 1px dashed #2a62bc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    list-style-type: none;
    padding: 25px;
    cursor: all-scroll;
    background: #cfe5f2;
}
.case_number{
    cursor: auto;
    padding: 25px;
    border: 3px dashed #2b542c;
    background: #b9dff5;
}
.case{
    cursor: auto;
    padding: 25px;
    border: 4px dashed #2b542c;
    background: #acd7f0;
}
.case li{
    width: 220px;
}
.case li a{
    margin-left: 25px;
}
.case hr{
    margin: 0;
    height: 2px;
    padding: 0 0 3px 0;
    border-top: 3px solid #eee;
}
.background_number{
    background: #ddeef8;
    height: 100%;
    width: 100%;
}
.settings_box{
    width: 100%;
    height: 70px;
    display: block;
}
.settings_case{
    min-width: 700px;
    height: 100%;
    display: block;
}
.settings{
    display: block;
    width: 700px;
    background: #929FAB;
    margin: 10px auto 0;
    text-align: center;
    line-height: 50px;
}
.email_case{
    width: 100%;
    height: 50px;
    list-style-type: none;
}
.email_setting{
    list-style-type: none;
    float: left;
    display: block;
    color: #333;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
    font-size: 18px;
}
.text{
    list-style-type: none;
    float: right;
    display: block;
    color: #aaa;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
    font-size: 18px;
    padding: 1px 15px;
    width: 500px;
    margin-left: 10px;
}
.box{
    width: 750px;
    margin: 0 auto;
}
.save{
    background:  url("../../images/save.png") no-repeat;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    float: right;
}
hr{
    border: 1px solid #929FAB;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
}
.box_settings{
    width: 700px;
    margin: 0 auto;
}
.logo_case{
    height: 250px;
}
