.content_box{
    margin: 0 auto;
    min-width: 1140px;
    max-width: 1920px;
    background: #dfdedd;

}
.content_box:nth-child(even){
    background: url("../../images/background_two_content_2.png") no-repeat;
}
.content_case{
    margin: 0px auto;
    width: 1140px;
    height: 450px;
}
.content_text_box{
    float: left;
    width: 860px;
}
.content_img_box{
    float: left;
    width: 200px;
    padding-left: 80px;
}
.headers{
    font-size: 36px;
    font-family: "Cambria Bold";
    color: black;
    width: 100%;
    margin-top: 70px;
}
.content_box:nth-child(even) .header{
    color: white;
    padding: 20px 20px 0 20px;
}

.headers h3{
    margin: 0;
}
.headers_text{
    margin-top: 25px;
    font-size: 18px;
    height: 170px;
    width: 100%;
    color: black;
    font-family: "Cambria Bold";
}

.content_box:nth-child(even) .header_text{
    color: white;
    padding: 0 20px 20px 20px;
}

/* button block ----------------------------------------------------------------------*/
.button_box{
    width: 100%;
    margin-top: 30px;
    height: 55px;
}
.button{
    font-family: "Cambria Math";
    font-size: 18px;
    padding: 15px 35px;
    float: right;
    background: #ed1b24;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.button:hover{
    transition:0.5s;
    background: #2e3192;
}
/* end button block ----------------------------------------------------------------------*/
/* img ------------------------------------------------------------------------------------*/
.img_case{
    margin-top: 0px;
    margin-left: 20px;
    width: 100%;
    height: 100%;
}
.background{
    background: none;
}
.content_box:nth-child(even) .background{
    background: #000000;
    opacity: 0.7;
}