.form_case{
    width: 100%;
    display: block;
    float: left;
    height: 100%;
}
.box{
    float: left;
    display: block;
    width: 400px;
    background: #f2f2f2;
    margin:0 20px;
}
.form_box{
    margin:0 30px;
    padding: 20px;
    width: 350px;
    float: left;
    display: block;
    height: 370px;
}
/* end edit box -------------------------------------------------------------------------------------- */
/* destroy case -------------------------------------------------------------------------------------- */
.case_destroy{
    width: 100%;
    height: 40px;
}
.box_destroy{
    float: right;
    height: 35px;
    width: 35px;
}
/* end destroy  case---------------------------------------------------------------------------------- */
/* create -------------------------------------------------------------------------------------- */
.edit_box{
    width: 100%;
    line-height: 40px;
    color: #cf3030;
    text-align: center;
    display: block;
    background: #FFFFFF;
    border:2px dotted #d25656;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}
/* end create -------------------------------------------------------------------------------------- */
/* start images  -------------------------------------------------------------------------------------- */
.img_box{
    width: 100%;
    min-height: 300px;
}
.images_box{
    height: 250px;
    width: 230px;
    border: 1px solid #555252;
    display: block;
    float: left;
    margin: 30px;
}
.images_case{
    padding: 10px;
    height: 150px;
    width: 225px;
}
hr{
    margin: 7px auto;
}
/* end images  -------------------------------------------------------------------------------------- */
/*  create_form  -------------------------------------------------------------------------------------- */
.creates_form_box{
    width: 100%;
    display: block;
    float: left;
    height: 100%;
}
.creates_form_case{
    margin: 0 auto;
    width:500px;
    display: block;
    bottom: 20px;
}
/* end create_form  -------------------------------------------------------------------------------------- */
