.body_box {
    min-width: 1140px;
    margin: 0 auto;
}
/*case_product ------------------------------------------------------------------*/
.case_product{
    height: 130px;
    width: 100%;
    background: #ececec;
}
.box_product{
    height: 100%;
    width: 1140px;
    margin: 0 auto;
}
.forums_box{
    width: 220px;
    height: 100%;
    display: block;
    cursor: pointer;
    float: left;
}
.sprite_box{
    width: 100%;
    height: 75px;
    display: block;
}
.sprite_text{
    height: 55px;
    width: 100%;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    font-family: "Cambria Bold";
    font-size: 14px;
}
.sprite{
    margin: 0 auto;
    vertical-align: top;
    display: block;
    background: url("../../images/categories.png") no-repeat;
}
.sprite_1{
    margin: 20px 0 0 85px;
    display: inline-block;
    background-position: -2px -2px;
    height: 31px;
    width: 37px;
}
.forums_box:hover .sprite_text{
    color: #ed1b24;
}
.forums_box:hover .sprite_1{
    background-position: -43px -2px;
}
.sprite_2{
    margin: 20px 0 0 85px;
    display: inline-block;
    background-position: -84px -2px;
    height: 34px;
    width: 39px;
}
.forums_box:hover .sprite_2{
    background-position: -127px -2px;
}
.sprite_3{
    margin: 20px 0 0 85px;
    display: inline-block;
    background-position: -170px -2px;
    height: 53px;
    width: 47px;
}
.forums_box:hover .sprite_3{
    background-position: -220px -2px;
}
.sprite_4{
    margin: 20px 0 0 85px;
    display: inline-block;
    background-position: -270px -2px;
    height: 49px;
    width: 41px;
}
.forums_box:hover .sprite_4{
    background-position: -315px -2px;
}
.sprite_5{
    margin: 20px 0 0 85px;
    display: inline-block;
    background-position: -360px -2px;
    height: 49px;
    width: 49px;
}
.forums_box:hover .sprite_5{
    background-position: -413px -2px;
}
.categories_box{
    width: 100%;
    height: 300px;
}
/* end case_product ------------------------------------------------------------------*/
/* end content -------------------------------------------------------------------------*/